<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel-group">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" th:text="${recipe.description}">Recipe description here!</h1>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Categories:</h5>
                            </div>
                            <div class="col-md-9">
                                <ul>
                                    <li th:remove="all">cat one</li>
                                    <li th:remove="all">cat two</li>
                                    <li th:each="category : ${recipe.categories}"
                                        th:text="${category.getDescription()}">cat three
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h5>Prepare time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.prepTime+ ' min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Difficulty:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.difficulty}">Easy</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h5>Cook time:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.cookTime+ ' min'}">30 min</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Servings:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.servings}">4</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h5>Source:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${recipe.source}">Smaker</p>
                            </div>
                            <div class="col-md-3">
                                <h5>URL:</h5>
                            </div>
                            <div class="col-md-3">
                                <p><a th:href="@{${recipe.url}}">View original</a></p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-11">
                                <h1 class="panel-title">Ingredients</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#" th:href="@{'/recipe/'+${recipe.id}+'/ingredients'}"
                                   role="button">View</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">1 szkalanka mleka</li>
                                    <li th:remove="all">1 łyżka czekolady</li>
                                    <li th:remove="all">1 łyżka cukru</li>
                                    <li th:each="ingredient : ${recipe.ingredients}"
                                        th:text="${ingredient.getAmount() +
                                    ' ' + ingredient.uom.getDescription()+
                                    ' ' + ingredient.getDescription()}">50 ml śmietanki 30%
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Directions</h1>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.directions}"> W garnuszku gotujemy mleko ze śmietanką,
                                    dodajemy połamaną na kostki czekoladę.
                                    Mieszamy najlepiej trzepaczką. Ciągle mieszając dodajemy kakao oraz cukier
                                    puder. Kiedy wszystko się podgrzeje a czekolada zgęstnieje wyłączamy aby nie
                                    doprowadzić do zagotowania. </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Notes</h1>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:text="${recipe.notes.recipeNotes}"> W garnuszku gotujemy mleko ze śmietanką,
                                    dodajemy połamaną na kostki czekoladę.
                                    Mieszamy najlepiej trzepaczką. Ciągle mieszając dodajemy kakao oraz cukier
                                    puder. Kiedy wszystko się podgrzeje a czekolada zgęstnieje wyłączamy aby nie
                                    doprowadzić do zagotowania. </p>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>